html,
body {
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  background-color: #f55a5a;
  justify-content: center;
  padding: 10px;
  color: white;
}

header > h1 {
  padding-left: 10px;
}
